@font-face {
    font-family:"FreePixel";
    size-adjust:115%;
    src:url("/assets/fonts/freepixel/FreePixel.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/freepixel/FreePixel.woff2") format("woff2"),url("/assets/fonts/freepixel/FreePixel.woff") format("woff"),url("/assets/fonts/freepixel/FreePixel.ttf") format("truetype"),url("/assets/fonts/freepixel/FreePixel.svg") format("svg");
}

html {
    scroll-behavior: smooth
}

body {
    background: radial-gradient(circle, #39382d, #000000);
    color: #fff;
    font-family: "FreePixel", monospace;
    font-size: 16px;
    position: relative
}

h1 {
    color: #ff7f50
}

h2 {
    color: #7ecc52
}

h3 {
    color: #8cc3c5
}

h4,
h5,
h6 {
    color: #d8774a
}

a, summary {
    color: #ddad6f;
    text-decoration: none
}

a:hover, summary:hover {
    color: #f70;
    cursor: pointer
}

.twocols {
    display: flex;
    width: 100%
}

.navcol {
    float: left;
    list-style: none;
    margin-left: 3%;
    margin-right: 2%;
    min-width: 120px;
    width: 12%
}

.arrow {
    border: solid rgb(180, 126, 126);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.fixedcol {
    position: fixed
}

.maincol {
    margin-right: 10%;
    width: 73%;
    word-wrap: break-word
}

.author {
    margin-top: 20px;
    min-height: 120px;
    width: 100%
}

.author img {
    border-radius: 150px;
    float: left;
    margin: auto 15px 10px auto;
    max-width: 110px
}

blockquote {
    color: #7fffd4
}

pre {
    background-color: #242526;
    border-radius: 5px 15px;
    margin: 8px 0;
    padding: 10px 15px;
    white-space: pre-wrap;
    word-wrap: break-word
}

div.highlight button {
    background-color: #161616;
    border: 1px solid #000;
    border-radius: 0 .18rem;
    color: #ee82ee;
    cursor: pointer;
    float: left;
    font-size: .8em;
    padding: 5px 10px;
    transition: .2s ease-out;
    user-select: none
}

div.highlight button:hover {
    background-color: #000;
    font-weight: bold
}

code,
pre {
    font-size: 15.5px;
    color: #ee82ee
}

.imagecode {
    background: #181a22;
    color: #4eb330;
}

.overflowy {
    max-height: 18em;
    overflow-y: scroll
}

img {
    max-width: 100%
}

.center {
    text-align: center;
}

footer {
    margin: 5% auto;
}

.heart {
    max-width: 16px;
    vertical-align: middle
}

.social img {
    max-width: 18px
}

.shareable a {
    display: inline-block;
    margin: 10px
}

.shareon {
    color: #7fffd4
}

.sociallinks a {
    display: inline-block;
    margin: 5px 10px
}

.eachsociallinks img {
    max-width: 25px
}

.webrings {
    text-align: center
}

.webrings h3 {
    display: flex;
    margin: 30px auto
}

.webrings p {
    text-align: left
}

.webrings a {
    display: inline-block;
    margin: 5px
}

.webrings img {
    width: 88px;
    height: 31px;
    border: 2px solid #3c3e42
}

.gototop {
    position: absolute;
    top: 120vh;
    bottom: 2rem;
    right: 2rem
}

.gototoplink {
    position: -webkit-sticky;
    position: sticky;
    top: 90vh;
    background-color: #08356c;
    color: #fff;
    cursor: pointer;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold
}

.gototoplink:hover {
    background-color: #555;
    color: #fff
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #b7eb8d;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #49db1c
}

@media screen and (max-width: 768px) {

    .contents {
        margin: 5%;
    }

    .twocols {
        flex-direction: column
    }

    .navcol {
        float: none;
        text-align: center;
        display: contents
    }

    .fixedcol {
        position: relative;
    }

    .navcol li {
        display: inline-block;
        margin: 5px;
    }

    .arrow,
    .fixedcol h3 {
        display: none;
    }

    .maincol {
        display: block;
        width: 100%
    }

}

@media screen and (max-width: 600px) {
    .gototop {
        right: 1rem;
        bottom: 8rem
    }

    .gototoplink {
        top: 85vh
    }
}
