<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/avatar/avatar.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/images/avatar/avatar.png">
    <link rel="preload" href="/assets/fonts/FreePixel/FreePixel.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/assets/css/style.css" as="style">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.extra.comparison %}
    <link rel="preload" href="/assets/css/comparison.css" as="style">
    <link rel="stylesheet" href="/assets/css/comparison.css">
    {% endif %}
    <meta name="author" content="Castor, whoisyoges@castorisdead.xyz">
    <meta name="msapplication-TileColor" content="#141414">
    <meta name="theme-color" content="#141414">
    <meta name="msapplication-TileImage" content="/assets/images/avatar/avatar.png">
    <meta name="twitter:creator" content="@whoisYoges">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:locale" content="en_US">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large max-video-preview:-1">
    <meta name="reply-to" content="whoisyoges@castorisdead.xyz">
    <meta property="og:email" content="whoisyoges@castorisdead.xyz">
    <meta name="twitter:site" content="@whoisYoges">
    {% if page.extra.keywords %}
    <meta name="keywords" content="{{ page.extra.keywords }}">
    {% else %}
    <meta name="keywords" content="castor, castorIsDead, castor is dead, zero to noob linux, whoisYoges, Yogesh Lamichhane, metis linux, open source, FOSS, linux, geek">
    {% endif %}
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta name="dc.title" content="{{ page.title }}">
    {% else %}
    {% if section.title %}
    <title>{{ section.title }}</title>
    <meta name="twitter:title" content="{{ section.title }}">
    <meta property="og:title" content="{{ section.title }}">
    <meta name="dc.title" content="{{ section.title }}">
    {% else %}
    <title>Castor</title>
    <meta name="twitter:title" content="Castor">
    <meta property="og:title" content="Castor">
    <meta name="dc.title" content="Castor">
    {% endif %}
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="dc.description" content="{{ page.description }}">
    {% else %}
    {% if section.description %}
    <meta name="twitter:description" content="{{ section.description }}">
    <meta property="og:description" content="{{ section.description }}">
    <meta name="description" content="{{ section.description }}">
    <meta name="dc.description" content="{{ section.description }}">
    {% else %}
    <meta name="og:description" content="Castor - A Linux enthusiast, FOSS/FLOSS advocate, digital privacy and freedom proponent, and a self-taught frontend designer and developer.">
    <meta name="twitter:description" content="Castor - A Linux enthusiast, FOSS/FLOSS advocate, digital privacy and freedom proponent, and a self-taught frontend designer and developer.">
    <meta name="description" content="Castor - A Linux enthusiast, FOSS/FLOSS advocate, digital privacy and freedom proponent, and a self-taught frontend designer and developer.">
    <meta name="dc.description" content="Castor - A Linux enthusiast, FOSS/FLOSS advocate, digital privacy and freedom proponent, and a self-taught frontend designer and developer.">
    {% endif %}
    {% endif %}
    {% if page.permalink %}
    <meta property="twitter:url" content="{{ page.permalink | safe }}">
    <meta property="og:url" content="{{ page.permalink | safe }}">
    <meta property="og:type" content="article">
    <meta name="dc.relation" content="{{ page.permalink | safe }}">
    {% else %}
    {% if section.permalink %}
    <meta property="twitter:url" content="{{ section.permalink | safe }}">
    <meta property="og:url" content="{{ section.permalink | safe }}">
    <meta property="og:type" content="website">
    <meta name="dc.relation" content="{{ section.permalink | safe }}">
    {% else %}
    <meta property="twitter:url" content="https://castorIsDead.xyz">
    <meta property="og:url" content="https://castorIsDead.xyz">
    <meta property="og:type" content="website">
    <meta name="dc.relation" content="https://castorIsDead.xyz">
    {% endif %}
    {% endif %}
    {% if page.extra.opengraph %}
    <meta name="og:image" content="{{ get_url(path=page.extra.opengraph ) | safe }}">
    <meta name="twitter:image:src" content="{{ get_url(path=page.extra.opengraph ) | safe }}">
    {% else %}
    <meta name="og:image" content="/assets/images/avatar/avatar.jpg">
    <meta name="twitter:image:src" content="/assets/images/avatar/avatar.jpg">
    {% endif %}
</head>

<body>
    <div class="contents">
        <div class="twocols">
            <div class="navcol">
                <div class="fixedcol">
                    <h3>Navigation</h3>
                    <ul>
                        <li> <a href="/"> <i class="arrow"></i> Home</a></li>
                        <li> <a href="/about"> <i class="arrow"></i> About</a> </li>
                        <li> <a href="/blog"> <i class="arrow"></i> Blog</a> </li>
                        <li> <a href="/contact"> <i class="arrow"></i> Contact</a> </li>
                        <li> <a href="/donate"> <i class="arrow"></i> Donate</a> </li>
                        <li> <a href="/homies"> <i class="arrow"></i> Homies</a> </li>
                        <li> <a href="/programs"> <i class="arrow"></i> Programs</a> </li>
                    </ul>
                </div>
            </div>
            <div class="maincol">
                {% block content %}{% endblock %}
                <footer class="center">
                    <hr>
                    <div class="sociallinks">
                        <a title="Follow me on Mastodon" href="https://fosstodon.org/@whoisYoges" target="_blank" rel="noopener nofollow noreferrer" class="eachsociallinks"><img src="/assets/images/social-icons/mastodon.png" alt="Mastodon"></a>
                        <a title="Follow me on Twitter" href="https://twitter.com/whoisYoges" target="_blank" rel="noopener nofollow noreferrer" class="eachsociallinks"><img src="/assets/images/social-icons/twitter.png" alt="Twitter"></a>
                        <a title="Check my codes on GitHub" href="https://github.com/whoisYoges" target="_blank" rel="noopener nofollow noreferrer" class="eachsociallinks"><img src="/assets/images/social-icons/github.png" alt="GitHub"></a>
                        <a href="/atom.xml" target="_blank" rel="noopener nofollow noreferrer" class="eachsociallinks" title="My Atom Feed"><img src="/assets/images/social-icons/rssfeed.png" alt="Atom Feed"></a>
                    </div>
                    <p>Made with <span><img class="heart" src="/assets/images/site/blue-heart.png" alt="&lt;3"></span> in <a href="https://wikiless.org/wiki/Nepal" target="_blank" rel="noopener nofollow noreferrer">Nepal</a> | Powered by <a href="https://getzola.org" target="_blank" rel="noopener nofollow noreferrer">zola</a>.</p>
                </footer>
            </div>
        </div>
    </div>
    {% if page.extra.gotoTop %}
    <div class="gototop">
        <a class="gototoplink" href="#">^</a>
    </div>
    {% else %}
    {% if section.extra.gotoTop %}
    <div class="gototop">
        <a class="gototoplink" href="#">^</a>
    </div>
    {% endif %}
    {% endif %}
    {% if page.extra.copy_code %}
    <script src="/assets/js/copy.js"></script>
    {% else %}
    {% if section.extra.copy_code %}
    <script src="/assets/js/copy.js"></script>
    {% endif %}
    {% endif %}
</body>

</html>