{% extends "base.html" %}
{% block content %}
<h1>Yogesh Lamichhane</h1>
<hr>
<blockquote>
    ❝ Can I multitask? ❞
    - yeah I can waste time, be unproductive and procrastinate all at once.
</blockquote>
<p>Hello Friend, welcome to my corner of the internet. I am Castor and my real name is on top of the site. I am a 21-year old introvert depressed guy who loves Computer Stuff, Music, Anime, Games, and Hiking and Camping.</p>
<p>Also, I sometimes upload random Linux stuff to <a href="https://www.youtube.com/@castorIsDead?sub_confirmation=1" target="_blank" rel="noopener nofollow noreferrer">Youtube</a> and <a href="https://odysee.com/@whoisYoges:7" target="_blank" rel="noopener nofollow noreferrer">Odysee</a>.</p>
<h2>WHY AM I HERE?</h2>
<p class="about">
    This place is home for all my psychological dysfunctioning.<br>
    A place where I am in control, with no censorship or manupilation.<br>
    A place where my words don't get mixed up with noise.
</p>
<p class="about">
    I'm here to create a place where I can make changes and express myself without experiencing shyness or social anxiety; where I can talk about myself freely without distraction; a place where my voice is the only sound I can hear.
</p>
<h2>A LITTLE TO DESCRIBE ME!</h2>

<p>I'm a Linux enthusiast, open source advocate<br>
    Digital privacy and freedom, that's my fate<br>
    I don't need no viruses or malware on my plate<br>
    I use Linux, it's secure and great</p>


<p>Linux, Linux, it's the way to go<br>
    Forget about those closed-source windows, it's time to let them go<br>
    Open source and free, it's the way to be<br>
    Linux, Linux, it's the operating system for me</p>

<p>I don't need no corporate overlords telling me what to do<br>
    I use Linux, I'm in control and that's true<br>
    I can customize and tweak to my heart's desire<br>
    Linux gives me the freedom to do what I require</p>

<p>Linux, Linux, it's the way to go<br>
    Forget about those closed-source windows, it's time to let them go<br>
    Open source and free, it's the way to be<br>
    Linux, Linux, it's the operating system for me</p>

<p>I don't need no big brother spying on me<br>
    I use Linux, my privacy is free<br>
    I don't need no proprietary software taking over my machine<br>
    I use Linux, it's open and clean</p>

<p>Linux, Linux, it's the way to go<br>
    Forget about those closed-source windows, it's time to let them go<br>
    Open source and free, it's the way to be<br>
    Linux, Linux, it's the operating system for me</p>
{% endblock content %}