{% extends "base.html" %}
{% block content %}
<h1>Yogesh Lamichhane</h1>
<blockquote>
    Can I multitask?
    - yeah I can waste time, be unproductive and procrastinate all at once.
</blockquote>
<hr>
<div class="author">
    <img src="/assets/images/avatar/avatar.jpg" alt="author logo">
    <p>Hi, I am <a href="https://castorisdead.xyz">Castor</a> and my real name is on top of the site. I am a 21-year-old introvert depressed guy who loves Computer Stuff, Music, Anime, Games, Hiking and Camping.</p>
    <p>Also, I sometimes upload random Linux stuff to <a href="https://www.youtube.com/channel/UCxFduVRp4umo_flSRCnAInQ" target="_blank" rel="noopener nofollow noreferrer">Youtube</a> and <a href="https://odysee.com/@whoisYoges:7" target="_blank" rel="noopener nofollow noreferrer">Odysee</a>.</p>
</div>
<h2>WHY AM I HERE?</h2>
<p class="about">
    This place is home for all my psychological dysfunctioning.<br>
    A place where I am in control, with no censorship or manupilation.<br>
    A place where my words don't get mixed up with noise.
</p>
<p class="about">
    I'm here to create a place where I can make changes<br>
    and express myself without experiencing shyness or social anxiety;<br>
    where I can talk about myself freely without distraction;<br>
    a place where my voice is the only sound I can hear.
</p>
{% endblock content %}