{% extends "base.html" %}
{% block content %}
<h1>Yogesh Lamichhane</h1>
<blockquote>
    Linux Sysadmin and DevOps Engineer, fascinated with servers — into configuring and automating secure, scalable servers and cloud solutions.
</blockquote>
<hr>
<div class="author">
    <img src="/assets/images/avatar/castor.jpg" alt="author logo">
    <p>Hi, I'm <a href="https://www.whoisyoges.eu.org" target="_blank">Castor</a> (real name's right at the top of this page).</p>
    <p>I specialize in configuring, deploying, maintaining, and automating secure, scalable server and DevOps infrastructures.</p>
    <p>My expertise spans across hosting environments, email systems, and end-to-end DevSecOps pipelines, ensuring efficiency, security, and reliability at every stage.</p>
    <p>Let's <a href="https://www.shellsecrets.com/contact/" target="_blank" rel="noopener">connect</a> to optimize your IT infrastructure and drive your business forward.</p>
</div>

<div class="grid-container">
    <div class="grid-item">
        <h2>WHY AM I HERE?</h2>
        <p class="about">
            This place is home for all my psychological dysfunctioning.
            <br>
            A place where I am in control, with no censorship or manupulation.
            <br>
            A place where my words don't get mixed up with noise.
        </p>
        <p class="about">
            I'm here to create a place where I can make changes,
            <br>
            and express myself without experiencing shyness or social anxiety;
            <br>
            where I can talk about myself freely without distraction;
            <br>
            a place where my voice is the only sound I can hear.
        </p>
    </div>
    <div class="grid-item">
        <h3>Featured Articles ⭐</h3>
        <ul>
            <li><a href="/blog/why-is-it-difficult-to-change-the-human-thinking/">Why is it difficult to change the human thinking?</a></li>
            <li><a href="/blog/life-is-a-collection-of-conditions-and-loops/">Life is a Collection of Conditions and Loops</a></li>
            <li><a href="/blog/understanding-dns/">Understanding DNS (Domain Name System)</a></li>
            <li><a href="/blog/static-website-optimization-tips/">Static website optimization tips</a></li>
            <li><a href="/blog/make-connections-not-relationship/">Make connections rather than relationships</a></li>
            <center>
                <h4><a href="/blog/">Discover More!</a></h4>
            </center>
        </ul>
    </div>
</div>

<p class="guestbook center">Now since you are here, how about you <a href="https://guestbook.yogeshlamichhane.com.np" target="_blank" rel="noopener noreferrer nofollow">sign my guestbook</a> and let me know how you found this little website in the great ocean of the internet.</p>
<p class="center">👻 Proud member of <a href="https://512kb.club" target="_blank" rel="noopener">512kb.club</a>, <a href="https://1mb.club" target="_blank" rel="noopener">1mb.club</a> and <a href="https://darktheme.club" target="_blank" rel="noopener">darktheme.club</a> 👻</p>
{% endblock content %}