{% extends "base.html" %}
{% block content %}
<div id="blog">
    <h1 id="blog-title">{{ page.title }}</h1>
    <hr>
    {% if page.updated %}
    <small class="blog-date"> UPDATED ON {{ page.updated }} </small>
    {% else %}
    <small class="blog-date"> {{ page.date }} </small>
    {% endif %}
    {{ page.content | markdown | safe }}
    {% if page.extra.shareable %}
    <div class="shareable">
        <p class="shareon">SHARE ON</p>
        <a title="Share on facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink | safe }}" target="_blank" rel="noopener" class="social"><img src="/assets/images/social-icons/facebook.png" alt="facebook icon"> Facebook</a>
        <a title="Share on twitter" href="https://twitter.com/intent/tweet?url={{ page.permalink | safe }}" target="_blank" rel="noopener" class="social"><img src="/assets/images/social-icons/twitter.png" alt="twitter icon"> Twitter</a>
        <a href="https://www.linkedin.com/share?url={{ page.permalink | safe }}" target="_blank" rel="noopener" class="social" title="Share on linkedin"><img src="/assets/images/social-icons/linkedin.png" alt="linkedin icon"> LinkedIn</a>
    </div>
    {% endif %}
    {% if page.extra.viewallblogs %}
    <p class="shareable"><a href="/blog/">VIEW ALL POSTS</a></p>
    {% endif %}
</div>
{% endblock %}